/*Typography*/

.HeroMain {
    display: flex;

}

* {
    font-family: "Exo 2";
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.125rem;
    background-color: #F6F4F6;
}

h1 {
    font-size: 5.25rem;
    line-height: 60%;
    font-family: "Goldman";
    font-weight: 400;
    margin-top: .5rem;
}
.H1FirstHalf {
    font-size: 4rem;
    line-height: 0px;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
.InlineLink {
    color: #CA09D7;
}
.BodyBold {
    font-weight: 600;
}
.LargeParagraph {
    font-size: 1.5rem;
    font-weight: 400;
}
.BoldPurple {
    font-weight: 600;
    color: #CA09D7;
}

h1 span {
    color: #CA09D7;
    border-radius: 50px;
    box-shadow: #CA09D7 0px 0px 10px;
    background-color: #F6F4F6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    
    font-family: "Goldman";
    font-weight: 400;
}
.PrimaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CA09D7;
    color: white;
    padding: 14px 24px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: #CA09D7 solid 2px;
    /* border: #000 solid 4px; */
    box-shadow: #CA09D7 0px 0px 10px;
}
.PrimaryButton:hover {
    box-shadow: #7C0585 0px 0px 25px;
    transition: .2s ease-out;
    background-color: #7C0585;
    border: #7C0585 solid 2px;
}
.SecondaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CA09D7;
    padding: 14px 24px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border: #CA09D7 solid 2px;
    width: 100%;
}
.SecondaryButtonInactive {
    display: block;
    color: #CA09D7;
    padding: 14px 24px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border: #CA09D7 solid 2px;
    width: 100%;
    opacity: 50%;
    cursor:not-allowed;
}

.SecondaryButton:hover {
    background-color: #7C0585;
    color: #fff;
    transition: .2s ease-out;
    border: #7C0585 solid 2px;

}

 header .ButtonGroup {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: 60vw;
    /* padding: 0 1rem; */
}
.ButtonGroup {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50vw
}
.HeroText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main, .HeroContent {
    padding-left: 2rem;
    padding-right: 2rem;
}
.HeroContent h2 {
    width: 90%;
    line-height: 130%;
}
.MainContent {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.HeroImgGradient{
    /* opacity: .4; */
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 45%); 
}
.HeroImgContainer {
width: 100%;
height: 355px;
overflow: hidden;
}
.HeroImgContainer img {
width: 100vw;
height: auto;

}
.InfoSection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.FaqGap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ContentCard {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    background-color: #fff;
    border: #7C0585 .5px solid;
    box-shadow: hwb(0 0% 100% / .4) 0px 6px 8px -4px;
    padding: .5rem;
    width: 100%;
    width: 320px;

}
/* .TwoColContainer {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;

  
} */

.InfoSection :nth-child(2) {
    /* margin-top: 4rem; */
}
.ImageGroup img {
    width: auto;
   
}
.ImageGroup{

    display: flex;
    flex-direction: column;

}
.getInvolvedSection {
    align-items: center;
}
.SponsorsSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
.SponsorLogo {
    width: 20%;
}
footer {
    
}


@media only screen and (max-width: 900px) {
    body {
        font-size: 1.125rem;
    }
    h1 {
    font-size: 3rem;
    font-family: "Goldman";
    line-height: 86%;
    
    }
    h1 span {
    margin-top: .7rem;
}
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    /* .HeroText {
        padding-left: 1rem;
        padding-right: 1rem;
    } */
    main, .HeroContent {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    header .ButtonGroup {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        /* padding: 0 1rem; */
    }
    .HeroImgContainer {
        width: 100%;
        height: initial;
        }
    .HeroImgContainer img {
        width: 100%;
        height: auto;
    }
    .HeroContent {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .InfoSection {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .ContentCard {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        background-color: #F6F4F6;
        padding: .5rem;
        width: initial;
    }
    .SupportingImage {
        display: none;
    }

}

.NavBar {
    background-color: #F6F4F6;
    box-shadow: #F6F4F6 0px 10px 5px;
    margin: 0;
    position: relative;
    justify-content: space-between;
    display: flex;
    /* padding-left: calc(5vw + 1em);
    padding-right: 5vw; */
    padding-top: .5rem;
    padding-bottom: .5  rem;
    /*box-shadow: 0px 8px 32px -8px #000;*/
    align-items: center;
    padding-left: 2rem;
    
}
.NavBarImage {
    width: fit-content;
}

@media only screen and (max-width: 900px) {
    .NavBar {
        justify-content:center;
        padding-left: 0;
    }
    .NavBarImage img {
        max-width: 250px;
    }

}

@media only screen and (max-width: 500px) {
    .SponsorsSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: unset;
    }
    .SponsorLogo {
        width: 50%;
        height: auto;
    }
}

.NavBarImage img {
    max-width: 300px;
}

footer {
    
    color: #fff;
    background-color: #CA09D7;
    margin: 0;
    justify-content: right;
    display: flex;
    /* padding-left: calc(5vw + 1em);
    padding-right: 5vw; */
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2rem;
       padding-right: 2rem;
}
/* .CopyrightInfo {
    display: flex;
    align-items: center;
    gap: 1em;
} */
/* .FooterLogo {
    max-width: 300px;
}
footer p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
} */
.SocialMediaIconGroup {
    display: flex;
    gap: 1em;
}
.SocialMediaIcon {
    max-width: 40px;
    color: white;
}

@media only screen and (max-width: 900px) {
    footer {
       flex-direction: column;
       gap: 1rem;
       flex-direction: column-reverse;
       align-items: center;
       
    }
    .CopyrightInfo {
       flex-direction: column;
       gap: .5rem !important;
    }
   }
   
